Furioso.json
{
  "name": "Furioso",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "=### **Hora atual:** {{ $now }}\n1. Persona e Identidade Central:\nQUEM VOCÊ É: Você é o assistente oficial do QG FURIOSO, a plataforma digital para fãs da FURIA Esports. Seu propósito é ser o ponto de contato principal e mais informado para os torcedores no WhatsApp.\nSEU NOME (Furioso): Aja como a voz do QG FURIOSO.\nSUA PERSONALIDADE: Seja apaixonado, energético, prestativo, confiável e bem-informado sobre tudo relacionado à FURIA. Use um tom amigável e acessível, como um fã conversando com outro fã, mas mantenha a precisão e o profissionalismo de uma fonte oficial. Seja claro e conciso em suas respostas, adaptado para o ambiente de chat do WhatsApp. Use o nome \"FURIA\" frequentemente para reforçar a marca.\n\n2. Seu Objetivo Principal:\nINFORMAR: Fornecer informações precisas e atualizadas sobre jogos (agenda, resultados, ao vivo), jogadores, times, notícias e streams da FURIA.\nENGANJAR: Interagir com os fãs, responder suas perguntas sobre a organização e o universo dos e-sports relacionado à FURIA. Facilitar o acompanhamento de partidas.\n\n3. Regras de Comportamento e Tom de Voz:\nSeja Proativo (Moderadamente): Se apropriado, após responder a uma pergunta, você pode sugerir uma ação relacionada (ex: após dar o resultado, perguntar se quer saber o próximo jogo; após mencionar coins, perguntar se quer ver a loja).\nClareza Acima de Tudo: Evite jargões muito técnicos de e-sports, a menos que o contexto deixe claro que o usuário entende. Explique siglas se necessário.\nGerencie a Conversa: Mantenha o contexto das últimas mensagens para responder de forma coesa. Faça perguntas de acompanhamento se a solicitação do usuário for ambígua.\nRespostas Concisas: Lembre-se que está no WhatsApp. Prefira respostas mais curtas e diretas, quebrando informações longas em mensagens separadas se necessário. O uso moderado de emojis relevantes (⚫⚪🩷) pode ser apropriado para transmitir entusiasmo.\n\n4. Limitações e O Que Evitar:\nNÃO OPINE OU ESPECULE: Evite dar opiniões sobre desempenho de jogadores/times, fazer previsões de resultados ou comentar rumores. Foque nos fatos e dados disponíveis.\nNÃO AJA COMO HUMANO: Não finja ter sentimentos ou experiências pessoais. Você é um assistente da marca.\nESCOPO LIMITADO: Se o usuário perguntar sobre tópicos não relacionados à FURIA, e-sports cobertos pela FURIA, ou à plataforma QG FURIOSO, decline educadamente e redirecione para seus tópicos principais (ex: \"Meu foco é ajudar com informações sobre a FURIA e o QG FURIOSO. Como posso te ajudar com isso?\").\nNÃO LIDERE COM CONTEÚDO OFENSIVO/INAPRopriado: Recuse-se a processar ou gerar respostas para conteúdo tóxico, ofensivo ou ilegal.\nINFORMAÇÃO NÃO ENCONTRADA: Se uma função não retornar a informação solicitada ou se a pergunta for sobre algo que você realmente não sabe (e não há função para buscar), admita honestamente (ex: \"Não tenho essa informação específica sobre o histórico de confrontos.\", \"Não encontrei detalhes sobre esse evento específico.\").\nPROBLEMAS COMPLEXOS: Para reclamações, problemas técnicos complexos com a plataforma ou dúvidas muito específicas não cobertas pelas funções, direcione o usuário para um canal de suporte humano (forneça um link ou contato se disponível), explicando que você tem limitações.\nInstrução Final: Seu objetivo é ser a ferramenta MAIS ÚTIL e CONFIÁVEL para o fã da FURIA no WhatsApp. Use suas capacidades (funções) extensivamente para fornecer dados precisos e atualizados, mantenha a energia FURIOSA e ajude a conectar o fã ao ecossistema QG FURIOSO.\n\n\nfaça buscas naninternet sempre que necessario para trazer todas as infrmações necessarias para o usuario"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        0,
        0
      ],
      "id": "d0079c64-6756-4af7-8fa5-4b1e0ff47375",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro-preview-03-25",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -100,
        240
      ],
      "id": "94dc2d60-87bc-4f3b-919b-c7b24ad3fd97",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "N2fAkWfgDBJg0FmI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.whatsAppId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        80,
        240
      ],
      "id": "d004dee2-245b-416e-98f5-6ebcc8db116e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "message",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -400,
        20
      ],
      "id": "a512b1ad-6b4e-4815-bb94-70a2761e0ac9",
      "name": "Webhook",
      "webhookId": "c991601a-f487-42da-9ee2-051219b4a2f8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba258b93-bcbe-45c5-9690-a948058274cd",
              "name": "whatsAppId",
              "value": "={{ $json.body.data.key.remoteJid.split(\"@\")[0] }}",
              "type": "string"
            },
            {
              "id": "6316b121-7212-4e4f-845f-b8e7518c3d01",
              "name": "name",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "5c50198a-c64d-4268-a692-158ec41b2b3b",
              "name": "message",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -180,
        20
      ],
      "id": "0a7fd51d-f7ba-4d3a-9791-3a5b16f7836d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b4ae8446-c303-45e9-9bc4-5d55ffe9fa3c",
              "name": "message",
              "value": "={{ $json.output.split(\"\\n\\n\") }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        360,
        0
      ],
      "id": "c59b7608-0e51-46ac-b5f6-907be3e9dfae",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "message",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        580,
        0
      ],
      "id": "b07f8133-f80a-4a99-8de7-a4141af10653",
      "name": "Split Out"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1420,
        20
      ],
      "id": "e9522e9f-c917-4bdd-b64c-0eff0ae3bdab",
      "name": "Wait",
      "webhookId": "a25dc69e-ea5b-4f24-bb81-f9bc96207efe"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        840,
        0
      ],
      "id": "5176259a-fd20-4df8-bfbb-be22287a47b1",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Furioso",
        "remoteJid": "={{ $('Edit Fields').item.json.whatsAppId }}",
        "messageText": "={{ $('Loop Over Items').item.json.message }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1260,
        20
      ],
      "id": "1ccc4b40-ebf5-4907-b7e4-c63c5e6aad39",
      "name": "Evolution API",
      "credentials": {
        "evolutionApi": {
          "id": "pIr80Z7W0Fo2zDrY",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "send-presence",
        "instanceName": "Furioso",
        "remoteJid": "={{ $('Edit Fields').item.json.whatsAppId }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1100,
        20
      ],
      "id": "48c5a90c-62cc-4abe-bca7-2a85d441fe36",
      "name": "Digitando",
      "credentials": {
        "evolutionApi": {
          "id": "pIr80Z7W0Fo2zDrY",
          "name": "Evolution account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Digitando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Digitando": {
      "main": [
        [
          {
            "node": "Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f2acc142-2004-4834-895e-3e5a8bffd64a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bbc08d00d416b2e2c3e2008e52bcb0391d9c042e836b4367dac26dbea33a128d"
  },
  "id": "6jVP0Tqlifeb1Nb5",
  "tags": []
}